[Unit]
Description=Swaylock suspend

[Service]
Type=forking
Environment=DISPLAY=:0
ExecStart=/bin/sh -c "swaylock -f"

[Install]
WantedBy=multi.user.target sleep.target
